.footer-link {
  color: #adb5bd;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #0d6efd;
}

.footer-icon {
  color: #adb5bd;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #f6f6f6;
}
